@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* @apply debug */
}

body {
  @apply font-libre text-black;
}

.debug {
  @apply border border-red-800;
}

.contained_button {
  @apply outline-none bg-slate-300 py-2 px-6 font-semibold text-xs active:scale-[99%] transition-all ease-in-out rounded-md text-black;
}

.common_button {
  @apply outline-none bg-black  px-6 font-semibold  active:scale-[99%] transition-all ease-in-out rounded-md text-white;
}

input,
textarea {
  @apply outline-none text-floaralWhite py-1 px-3 font-medium transition-all;
}

.commonspacing {
  line-height: 155%;
}

/* fluid text  */

h1 {
  @apply commonspacing font-bold;
  font-size: clamp(4.5rem, 3.375rem + 5vw, 9.375rem);
  letter-spacing: 2%;
}

h2 {
  @apply commonspacing font-bold;

  font-size: clamp(3.375rem, 3.1154rem + 1.1538vw, 4.5rem);
}

h3 {
  @apply commonspacing font-bold;
  font-size: clamp(2.625rem, 2.3077rem + 1.4103vw, 4rem);
}

h4 {
  @apply commonspacing font-bold;
  font-size: clamp(2.5rem, 2.2981rem + 0.8974vw, 3.375rem);
}

.h4-title {
  @apply commonspacing font-bold;
  font-size: clamp(2.5rem, 2.2981rem + 0.8974vw, 3.375rem);
}

.title1-semibold {
  @apply commonspacing font-semibold;
  font-size: clamp(2.25rem, 2.0769rem + 0.7692vw, 3rem);
}

.title1 {
  @apply commonspacing font-bold;
  font-size: clamp(1.875rem, 1.6154rem + 1.1538vw, 3rem);
}

.title2 {
  @apply commonspacing font-semibold;
  font-size: clamp(1.875rem, 1.7885rem + 0.3846vw, 2.25rem);
}

.title3 {
  @apply commonspacing font-semibold;
  font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
}

.title4-medium {
  @apply commonspacing font-medium;
  font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
}

.title4-semibold {
  @apply commonspacing font-[600];
  font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
}

.title4 {
  @apply commonspacing font-semibold;
  font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
}

.body1 {
  @apply commonspacing font-medium;
  font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
}

.body1b {
  @apply commonspacing font-bold;
  font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
}

.body2 {
  @apply commonspacing font-normal;
  font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);
}

.body2b {
  @apply commonspacing font-bold;
  font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);
}

.body3 {
  @apply commonspacing font-normal;
  font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
}

.body3b {
  @apply commonspacing font-semibold;
  font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
}

.body4 {
  @apply commonspacing font-normal;
  font-size: clamp(0.75rem, 0.7212rem + 0.1282vw, 0.875rem);
}

.body4b {
  @apply commonspacing font-semibold;
  font-size: clamp(0.75rem, 0.7212rem + 0.1282vw, 0.875rem);
}

.caption {
  @apply commonspacing font-normal;
  font-size: clamp(0.6875rem, 0.6731rem + 0.0641vw, 0.75rem);
}

.micro {
  @apply commonspacing font-normal;
  font-size: clamp(0.625rem, 0.6106rem + 0.0641vw, 0.6875rem);
}

/* LoadingOverlay.css */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure the overlay is above all content */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
